.primary-btn {
  background-color: var(--burgundy);
  color: var(--white);
  padding: 0.9rem 2rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.primary-btn:hover {
  background-color: var(--charcoal);
}
